server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always

logging:
  level:
    root: DEBUG
    org.springdoc: DEBUG
    io.swagger.v3: DEBUG
    org.springframework.boot.web.servlet.error: DEBUG

spring:
  datasource:
    url: ${ENV_AUTH_DATASOURCE_URL}
    username: ${ENV_AUTH_DATASOURCE_USERNAME}
    password: ${ENV_AUTH_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: redis
      port: 6379
      timeout: 2s
      password: Password@123
      lettuce:
        pool:
          enabled: true
          max-active: 16
          max-idle: 16
          min-idle: 2
          time-between-eviction-runs: 30s

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never

app:
  security:
    jwt:
      issuer: "auth-service"
      secret: "CHANGE_ME_TO_A_LONG_RANDOM_64+_CHAR_SECRET_CHANGE_ME"
      access-token-ttl-minutes: 15
      refresh-token-ttl-days: 30

  cookies:
    refresh-name: "__Host-rt"
    device-name: "did"
    same-site: "Strict"

  cache:
    user-details-ttl-seconds: 300

  redis:
    refresh-prefix: "rt:"
    refresh-user-prefix: "rtu:"
    refresh-device-prefix: "rtd:"
    denylist-prefix: "deny:jwt:"
    token-version-prefix: "tv:"

openapi:
  enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: false
