server:
  port: ${SERVER_PORT:8080}
  error:
    include-message: always
    include-stacktrace: always

logging:
  level:
    root: ${LOGGING_LEVEL_ROOT:INFO}
    com.electrahub.identity: ${LOGGING_LEVEL_COM_ELECTRAHUB_IDENTITY:INFO}
    org.springframework: ${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK:WARN}
    org.hibernate: ${LOGGING_LEVEL_ORG_HIBERNATE:WARN}

spring:
  datasource:
    url: ${ENV_AUTH_DATASOURCE_URL}
    username: ${ENV_AUTH_DATASOURCE_USERNAME}
    password: ${ENV_AUTH_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    open-in-view: ${SPRING_JPA_OPEN_IN_VIEW:false}
    properties:
      hibernate:
        jdbc:
          time_zone: ${SPRING_JPA_PROPERTIES_HIBERNATE_JDBC_TIME_ZONE:UTC}

  liquibase:
    enabled: ${SPRING_LIQUIBASE_ENABLED:true}
    change-log: ${SPRING_LIQUIBASE_CHANGE_LOG:classpath:/db/changelog/db.changelog-master.yaml}

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      timeout: ${SPRING_DATA_REDIS_TIMEOUT:2s}
      password: ${SPRING_DATA_REDIS_PASSWORD:Password@123}
      lettuce:
        pool:
          enabled: ${SPRING_DATA_REDIS_LETTUCE_POOL_ENABLED:true}
          max-active: ${SPRING_DATA_REDIS_LETTUCE_POOL_MAX_ACTIVE:16}
          max-idle: ${SPRING_DATA_REDIS_LETTUCE_POOL_MAX_IDLE:16}
          min-idle: ${SPRING_DATA_REDIS_LETTUCE_POOL_MIN_IDLE:2}
          time-between-eviction-runs: ${SPRING_DATA_REDIS_LETTUCE_POOL_TIME_BETWEEN_EVICTION_RUNS:30s}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never

app:
  security:
    jwt:
      issuer: ${APP_SECURITY_JWT_ISSUER:auth-service}
      secret: ${APP_SECURITY_JWT_SECRET:CHANGE_ME_TO_A_LONG_RANDOM_64+_CHAR_SECRET_CHANGE_ME}
      access-token-ttl-minutes: ${APP_SECURITY_JWT_ACCESS_TOKEN_TTL_MINUTES:15}
      refresh-token-ttl-days: ${APP_SECURITY_JWT_REFRESH_TOKEN_TTL_DAYS:30}

  cookies:
    refresh-name: ${APP_COOKIES_REFRESH_NAME:__Host-rt}
    device-name: ${APP_COOKIES_DEVICE_NAME:did}
    same-site: ${APP_COOKIES_SAME_SITE:Strict}

  cache:
    user-details-ttl-seconds: ${APP_CACHE_USER_DETAILS_TTL_SECONDS:300}

  redis:
    refresh-prefix: ${APP_REDIS_REFRESH_PREFIX:rt:}
    refresh-user-prefix: ${APP_REDIS_REFRESH_USER_PREFIX:rtu:}
    refresh-device-prefix: ${APP_REDIS_REFRESH_DEVICE_PREFIX:rtd:}
    denylist-prefix: ${APP_REDIS_DENYLIST_PREFIX:deny:jwt:}
    token-version-prefix: ${APP_REDIS_TOKEN_VERSION_PREFIX:tv:}

openapi:
  enabled: ${OPENAPI_ENABLED:true}

springdoc:
  api-docs:
    path: ${SPRINGDOC_API_DOCS_PATH:/v3/api-docs}
  swagger-ui:
    path: ${SPRINGDOC_SWAGGER_UI_PATH:/swagger-ui.html}
    disable-swagger-default-url: ${SPRINGDOC_SWAGGER_UI_DISABLE_DEFAULT_URL:false}
