server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${LOCAL_ENV_AUTH_DATASOURCE_URL:jdbc:postgresql://127.0.0.1:58318/user_db}
    username: ${LOCAL_ENV_AUTH_DATASOURCE_USERNAME:appuser}
    password: ${LOCAL_ENV_AUTH_DATASOURCE_PASSWORD:Password@123}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  data:
    redis:
      host: ${LOCAL_SPRING_DATA_REDIS_HOST:127.0.0.1}
      port: ${LOCAL_SPRING_DATA_REDIS_PORT:6379}
      password: ${LOCAL_SPRING_DATA_REDIS_PASSWORD:}
      timeout: 2s

management:
  health:
    redis:
      enabled: false

logging:
  level:
    root: INFO
    com.electrahub.identity: DEBUG
    liquibase: INFO
